<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
                <p class="m-0">Gestión Docente &#10072; creada por <a href="https://sebastianserrisuela.com.ar" target="_blank">Sebastián Serrisuela</a></p>
      </div>
    </div>
  </div>
</footer>