<li class="pc-item pc-caption">
    <label data-i18n="MENU">Menú</label>
    <svg class="pc-icon">
        <use xlink:href="#custom-shopping-bag"></use>
    </svg>
</li>

<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <svg class="pc-icon">
                <use xlink:href="#custom-user-square"></use>
            </svg>
        </span>
        <span class="pc-mtext" data-i18n="Usuarios">Usuarios</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>   
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="@Url.Action("Index", "ApplicationUsers")" data-i18n="Listado">Listado</a></li>

    </ul>
</li>
